<html>
<head>
  <title>Rate FT.com</title>
  <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons"></script>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons" />
</head>

Thanks for sharing your experience with us by leaving a score of: <%= @your_score %>

<form action="/">
  <button name="return" type="submit">Return</button>
</form>

<% @score_minus_two = @ratings.count(-2) %>
<% @score_minus_one = @ratings.count(-1) %>
<% @score_zero = @ratings.count(0) %>
<% @score_one = @ratings.count(1) %>
<% @score_two = @ratings.count(2) %>
<% @total = @ratings.length %>

Previous ratings:
<ul>
  <li>Very Good: <%= (@score_two * 100 / @ratings.length) %>%</li>
  <li>Good: <%= (@score_one * 100 / @ratings.length) %>%</li>
  <li>Average: <%= (@score_zero * 100 / @ratings.length) %>%</li>
  <li>Bad: <%= (@score_minus_one * 100/ @ratings.length) %>%</li>
  <li>Very Bad: <%= (@score_minus_two * 100/ @ratings.length) %>%</li>
</ul>

</html>
