<html>
<head>
  <title>Rate FT.com</title>
  <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons,o-header-services@^2.0.5"></script>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons,o-header-services@^2.0.5,o-fonts@^3.0.4"/>
</head>

<header class="o-header-services" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
      <h1 class="o-header-services__product-name"><a href="/">Rate FT.com</a></h1>
		</div>
	</div>
</header>

<h2 class="o-typography-product-heading-level-1">Thanks for sharing your experience with us by leaving a score of: <%= @your_score %></h2>

<form action="/">
  <button class="o-buttons o-buttons--secondary" name="return" type="submit">Return</button>
</form>

<% @score_minus_two = @ratings.count(-2) %>
<% @score_minus_one = @ratings.count(-1) %>
<% @score_zero = @ratings.count(0) %>
<% @score_one = @ratings.count(1) %>
<% @score_two = @ratings.count(2) %>
<% @total = @ratings.length %>

Previous ratings:
<ul>
  <li>Very Good: <%= (@score_two * 100 / @ratings.length) %>%</li>
  <li>Good: <%= (@score_one * 100 / @ratings.length) %>%</li>
  <li>Average: <%= (@score_zero * 100 / @ratings.length) %>%</li>
  <li>Bad: <%= (@score_minus_one * 100/ @ratings.length) %>%</li>
  <li>Very Bad: <%= (@score_minus_two * 100/ @ratings.length) %>%</li>
</ul>

</html>
