<html>
<head>
  <title>Rate FT.com</title>
  <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons,o-header-services@^2.0.5,o-typography@^5.6.0,o-colors@^4.2.3,o-grid@^4.3.8"></script>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons,o-header-services@^2.0.5,o-fonts@^3.0.4,o-typography@^5.6.0,o-colors@^4.2.3,o-grid@^4.3.8"/>
  <style>
  body {
    background-color: #FFF1E5;
    margin: 0;
  }
  ul {
  	list-style: none;
  }
  </style>
</head>

<header class="o-header-services" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
      <h1 class="o-header-services__product-name"><a href="/">Rate FT.com</a></h1>
		</div>
	</div>
</header>

<% @score_minus_two = @ratings.count(-2) %>
<% @score_minus_one = @ratings.count(-1) %>
<% @score_zero = @ratings.count(0) %>
<% @score_one = @ratings.count(1) %>
<% @score_two = @ratings.count(2) %>
<% @total = @ratings.length %>

  <body>
    <article>
    <div class="o-grid-row">
  		<div data-o-grid-colspan="12 S11 Scenter M9">
        <br>
          <h2 class="o-typography-product-heading-level-3">Thanks for sharing your experience with us by leaving a score of:  <%= @your_score %></h2>

        <form action="/">
          <button class="o-buttons o-buttons--secondary" name="return" type="submit">Return</button>
        </form>

          <h4 class="o-typography-product-heading-level-5">Previous ratings:</h4>
          <h3 class="o-typography-product-heading-level-6">
            <ul class="o-typography-list o-typography-list--unordered">
              <li>Oustanding:           <%= (@score_two * 100 / @ratings.length) %>%</li>
              <li>Above average:        <%= (@score_one * 100 / @ratings.length) %>%</li>
              <li>Average:              <%= (@score_zero * 100 / @ratings.length) %>%</li>
              <li>Disappointing:         <%= (@score_minus_one * 100/ @ratings.length) %>%</li>
              <li>Well below expectations:    <%= (@score_minus_two * 100/ @ratings.length) %>%</li>
            </ul>
          </h3>
        </div>
      </div>
    </article>
  </body>
</html>
